# --- PYTHON PADRÃO ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# --- ARQUIVOS TEMPORÁRIOS DO SISTEMA ---
.DS_Store
Thumbs.db

# --- ESPECÍFICO DO PROJETO (INTEGRAÇÕES) ---
# Ignorar instaladores temporários do Windows
*.msi

# Ignorar os binários pesados (Calibre e KCC)
# O Git vai trackear o 'adapter.py', mas vai ignorar os gigabytes de arquivos dentro de 'bin'
app/integrations/calibre/bin/
app/integrations/kcc/bin/

# --- ARQUIVOS DE TESTE ---
# Ignorar livros e mangás que você usar para testar localmente na raiz
*.pdf
*.epub
*.mobi
*.cbz
*.zip