# Arquivos pesados da pasta integrations
*.txz
*tar.gz

# Arquivos da pasta de integração do calibre e kcc

integrations/calibre/*
integrations/kcc/*

# Mantém arquivos gitkeep pra manter estrutura de pastas de integração

!integrations/calibre/.gitkeep
!integrations/kcc/.gitkeep